// Nav Menu Mixin
@mixin nav($li: inline-block, $position: relative, $ff: $font, $fs: 1rem, $fw: 400, $color: $global-color, $bg: transparent, $tt: capitalize, $td: none, $py: .5rem, $px: .5rem, $pt: null, $pr: null, $pb: null, $pl: null, $my: null, $mx: null, $mt: null, $mr: null, $mb: null, $ml: null, $display: block, $index: 99, $h-color: $color, $h-bg: $bg, $h-fw: null, $h-py: $py, $h-px: $px, $h-pt: $pt, $h-pr: $pr, $h-pb: $pb, $h-pl: $pl, $h-my: null, $h-mx: null, $h-mt: $mt, $h-mr: $mr, $h-mb: $mb, $h-ml: $ml, $h-td: none) {

  ul {
    margin: 0;
  }

  li {
    display: $li;

    a {
      position: $position;
      font-family: $ff;
      font-size: $fs;
      font-weight: $fw;
      color: $color;
      background: $bg;
      text-transform: $tt;
      text-decoration: $td;
      padding: $py $px;

      @if $pt $pr $pb $pl {
        padding-top: $pt;
        padding-right: $pr;
        padding-bottom: $pb;
        padding-left: $pl;
      }

      margin: $my $mx;

      @if $mt $mr $mb $ml {
        margin-top: $mt;
        margin-right: $mr;
        margin-bottom: $mb;
        margin-left: $ml;
      }

      display: $display;
      z-index: $index;

      @if $h-color {
        @include hover{
          color: $h-color;
          background: $h-bg;
          font-weight: $h-fw;
          padding: $h-py $h-px;

          @if $h-pt $h-pr $h-pb $h-pl {
            padding-top: $h-pt;
            padding-right: $h-pr;
            padding-bottom: $h-pb;
            padding-left: $h-pl;
          }

          margin: $h-my $h-mx;

          @if $h-mt $h-mr $h-mb $h-ml {
            margin-top: $h-mt;
            margin-right: $h-mr;
            margin-bottom: $h-mb;
            margin-left: $h-ml;
          }

          text-decoration: $h-td;
        }
      }
    }
  }
}