.doc-content {
  width: 75%;
  padding-left: 2rem !important;
  padding-right: 2rem !important;

  hr{
    @include hr($bg: #273644, $width: 100%, $height: 2px, $my: 2rem);
  }
}

.doc-knowlage {
  width: 25%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  right: 0;
  z-index: 9;
  height: calc(100vh - 5rem);
  overflow-y: auto;
}

.doc-knowlage {
  ul {
    padding-top: 15px;

    li+li {
      padding-top: 5px;
      font-size: 0.9375rem;
    }
  }
}

.doc-example {
  background: #2b2b2b;
  padding: 1.5625rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.doc-highlight {
  background: #0E1113;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  @include padding(px, 1rem);
}

.doc-highlight {
  pre {
    overflow: auto;
    white-space: pre;
    display: block;
  }

  code {
    font-weight: 600;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    font-size: 14px;
  }

  .dp {
    color: #69CDFF;
  }

  .dt {
    color: #eb646b;
  }

  .dn {
    color: #B28BEA;
  }

  .dq {
    color: #89DDFF;
  }

  .dattr {
    color: #b1da74;
  }
}

.doc-sidebar {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
